section {
    min-height: 1000px;
    position: absolute;
    width: 100% !important;
    min-width: 1000px;
    margin: 0;
    padding-top: 50px;
    overflow: hidden;
}



#mountain>div:nth-of-type(1){
    background: url(../assets/moraine_lake_and_the_valley_of_the_ten_peaks-wallpaper-3840x2160.jpg) 50% 0% no-repeat fixed;
    background-size: auto ;
    margin: 0;
    height: 1500px;
    position:absolute;
    top:0;left:0;
    width:100%;
}




.parallax-item{position:absolute;z-index:5;top:40px;left:400px;}
